@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
//$color 
$primaryColor: #000000;
//$background 
$bg-primary: #F2F2F2;
$bg-secondary: #FFFFFF;
//$fonts 
$primaryFont: "Roboto", sans-serif;

$fa-font-path: "../webfonts";

///// Media
$desktop: 1200px;
$laptop: 990px;
$tablet: 768px;
$mobile: 576px;